/**
 * IE6 was right!
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}




/**
 * Reset some basic elements
 */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, hr,
figure {
  margin: 0;
  padding: 0;
}



/**
 * Set `margin-bottom` to maintain vertycal rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl,
figure {
  margin-bottom: 1.5rem;
}



/**
 * Wrapper
 */
.wrapper {
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;
}



/**
 * Images
 */
img {
  /* Emphasis on `alt` text */
  font-style: italic;
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 0.9em;
}

figcaption > a {
  font-weight: 300;
}



/**
 * Quotations
 */
q {
  font-style: italic;
}

blockquote {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  font-size: larger;
  font-style: italic;
}

.quote__body > :first-child:before {
  content: '\201E';
}

.quote__body > :last-child:after {
  content: '\201C';
}

.quote__body > :last-child {
  margin-bottom: 0;
}

.quote__source {
  display: block;
  font-style: normal;
}

.quote__source::before {
  content: '\2014';
}
