.flexbox {
    margin-left: -$half-spacing-unit;

    .member-list & {
        @extend %vertical-rhythm;
    }
}

    .flexbox__item {
        vertical-align: top;
        padding-left: $half-spacing-unit;
    }
