.member {
    padding: $half-spacing-unit;
}

.member__link {
    display: block;

    .member__title:after {
        content: "\0020" "\00BB";
    }
}

.member__thumbnail {
    width: 100px;
    height: 100px;
    background-color: $base-ui-color;
    float: left;
}

.member__title {
    @include font-size(20px);
    display: inline-block;
    color: $foreground-color;

    line-height: 100px;
    margin-bottom: 0;
    margin-left: $base-spacing-unit;
}

.member__content {
    display: none;
    height: 0;
    overflow: hidden;
    padding-top: $base-spacing-unit;
    @include vertical-gap;

    :target > &,
    &.visible {
        display: block;
    }

    :target > & {
        height: auto;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.member__images {
    margin-bottom: $base-spacing-unit;
    margin-left: -$half-spacing-unit;

    img {
        margin-bottom: $half-spacing-unit;
        margin-left: $half-spacing-unit;
    }
}
