.page-content {
    @include vertical-gap(top);
    @include vertical-gap(bottom);

    @include media-query(desk) {
        margin-left: $sidebar-width + $nav-bar-width;
    }
}

.post {
    @extend %clearfix;
    @include vertical-gap(bottom);

    img {
        @extend %box-shadow;
    }
}

.post__title {

    > a {
        text-decoration: none;
    }
}



.img--opacity {
    opacity: 0.4;
    -webkit-transition: opacity 0.2s ease-out;
            transition: opacity 0.2s ease-out;

    &:hover {
        opacity: 1;
    }
}
