.site-header {
    @extend %clearfix;

    @include media-query(desk) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 13;
        width: $sidebar-width;
    }
}
