---
title: Mitglieder
permalink: /mitglieder/
---
<article class="post  members">
    <h1>Mitglieder</h1>

    {% for member in site.data.members %}

    {% if member.images or member.vita or member.address or member.contact %}
        {% assign has-content = true %}
    {% endif %}

    <section class="member" id="{{ member.slug }}">
        {% if has-content %}
        <a href="#{{ member.slug }}" class="member__link">
        {% endif %}
            <img src="{{ site.url }}/img/{{ member.slug }}/{{ member.slug }}-thumbnail.jpg" alt="Thumbnail" class="member__thumbnail">
            <h2 class="member__title">{{ member.name }}</h2>
        {% if has-content %}
        </a>
        {% endif %}

        {% if has-content %}
        <div class="member__content">
            {% if member.images %}
            <div class="member__images">
                {{ member.images }}
            </div>
            {% endif %}

            {% if member.vita %}
            <ul>
                {% for vita in member.vita %}
                <li>{{ vita.line }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if member.address %}
            <p>
                {% for address in member.address %}
                {{ address.line }}
                {% unless forloop.last %}
                <br>
                {% endunless %}
                {% endfor %}
            </p>
            {% endif %}

            {% if member.contact %}
            <p>
                {% for contact in member.contact %}
                {{ contact.line }}
                {% unless forloop.last %}
                <br>
                {% endunless %}
                {% endfor %}
            </p>
            {% endif %}
        </div>
        {% endif %}
    </section>

    {% assign has-content = false %}

    {% endfor %}
</article>
