.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav {
    padding: $half-spacing-unit;
    background-color: $foreground-color;
    @include font-size(20px);
    text-transform: uppercase;
    font-weight: 700;

    @include media-query(desk) {
        margin-top: $base-spacing-unit;
        background-color: $background-color;
        text-align: right;
    }
}

.site-nav--desk {
    display: none;

    @include media-query(desk) {
        display: block;
    }
}

.site-nav--mobile {
    display: none;

    &:target {
        display: block;
    }

    &,
    &:target {
        @include media-query(desk) {
            display: none;
        }
    }
}

.site-nav__item {
    display: block;
    position: relative;
    padding: $half-spacing-unit;
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $background-color;
    }

    @include media-query(desk) {
        padding: $base-spacing-unit / 3 0;
        color: $foreground-color;

        &:hover,
        &:focus {
            color: $foreground-color;
        }
    }
}

.site-nav__item:hover:after,
.site-nav__item:focus:after,
.site-nav__item--current:after {
    content: "";
    position: absolute;
    top: 50%;
    z-index: 14;
    width: $nav-bar-width;
    height: 4px;
    margin-top: -2px;
    margin-left: $half-spacing-unit;
}

.site-nav__item:hover:after,
.site-nav__item:focus:after {
    background-color: #fff;

    @include media-query(desk) {
        background-color: $foreground-color;
    }
}

.site-nav__item--current:after {
    background-color: $ui-color;
}

.mobile-nav-toggle {
    display: block;
    position: absolute;
    top: $half-spacing-unit;
    right: $half-spacing-unit;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    @include media-query(desk) {
        display: none;
    }
}
