$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size:      16px;
$base-line-height:    24px;

$ui-color:         #af1d1f;

$background-color: #fefefe;
$foreground-color:    #333;

$sidebar-width:      240px;
$nav-bar-width:       48px;
