.container {
	display: flex;
}

@media (max-width: 1999.98px) {
	.container {
		flex-direction: column;
	}
}

.page-content {
	flex: 1;
	margin-top: 6rem;
	margin-bottom: 6rem;
}

.post {
	margin-bottom: 6rem;
}

.post img {
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.post__title>a {
	text-decoration: none;
}
