*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	overflow-y: scroll;
	margin: 0;
	font-style: normal;
	font-size: 1em;
	line-height: 1.5;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: var(--text-color);
	background-color: var(--background-color);
}

main {
	display: block;
}

a {
	color: currentColor;
}

a:hover,
a:active,
a:focus {
	color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
dt {
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol,
dl {
	margin-top: 0;
	margin-bottom: 1.5rem;
}

img {
	font-style: italic;
	max-width: 100%;
}

img,
svg {
	vertical-align: middle;
}

q {
	font-style: italic;
}

blockquote {
	margin-right: 0.75rem;
	margin-left: 0.75rem;
	font-size: larger;
	font-style: italic;
}
