details>summary:first-of-type {
	list-style-type: none;
}

details summary::-webkit-details-marker {
	display: none;
}

.member-card {
	padding: 0.75rem;
}

.member-card__toggle {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	cursor: pointer;
	color: currentColor;
	font-weight: bold;
}

.member-card__thumbnail {
	width: 100px;
	background-color: var(--accent-color);
}

.member-card__title {
	margin-bottom: 0;
	font-size: 20px;
}

.member-card__title::before {
	content: '\BB';
	display: inline-block;
}

.member-card[open] .member-card__title::before {
	transform: rotateZ(90deg);
}

.member-card__content {
	padding-top: 1.5rem;
	margin-bottom: 3rem;
}

.member-card__content> :last-child {
	margin-bottom: 0;
}

.member-card__images {
	display: flex;
	gap: 1.5rem;
	flex-wrap: wrap;
	margin-bottom: 1.5rem;
}
