---
title: Mitglieder
---
<article class="post">
  <h1>Mitglieder</h1>

  {% for member in members %}

    {% if member.images or member.vita or member.address or member.contact %}
      {% assign has-content = true %}
    {% endif %}

    <section id="{{ member.slug }}">
      <details class="member-card">
        <summary class="member-card__toggle">
          {% if member.thumbnail %}
            <img src="/img/mitglieder/{{ member.slug }}/{{ member.slug }}-thumbnail.jpg" alt="{{ member.name }} Thumbnail" class="member-card__thumbnail">
          {% else %}
            <span class="member-card__no-thumbnail" aria-hidden="true"></span>
          {% endif %}

          <h2 class="member-card__title">
            {{ member.name }}
          </h2>
        </summary>

        {% if has-content %}
          <div class="member-card__content">
            {% if member.images %}
              <div class="member-card__images">
                {% for image in member.images %}
                  {{ image }}
                {% endfor %}
              </div>
            {% endif %}

            {% if member.vita %}
              <ul>
                {% for vita in member.vita %}
                  <li>{{ vita }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            {% if member.address %}
              <p>
                {% for address in member.address %}
                  {{ address }}
                  {% unless forloop.last %}<br>{% endunless %}
                {% endfor %}
              </p>
            {% endif %}

            {% if member.contact %}
              <p>
                {% for contact in member.contact %}
                  {{ contact }}
                  {% unless forloop.last %}<br>{% endunless %}
                {% endfor %}
              </p>
            {% endif %}
          </div>
        {% endif %}
      </details>
    </section>

    {% assign has-content = false %}

  {% endfor %}
</article>
