---
layout: compress
---
<!DOCTYPE html>
<html lang="de" class="page">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}
    </title>

    {% if site.description %}
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    {% endif %}

    {% if site.google_verify %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    {% if site.google_analytics %}
        <link rel="dns-prefetch" href="//www.google-analytics.com">
    {% endif %}

    <script>{% include opensans.min.js %}</script>

    {% if site.loadCSS_js %}
    <script>
        {% include loadcss.min.js %}
        loadCSS("{{ site.assets.css }}{{ site.name }}.min.css")
    </script>
    <noscript>
        <link rel="stylesheet" href="{{ site.assets.css }}{{ site.name }}.min.css">
    </noscript>
    {% else %}
        <link rel="stylesheet" href="{{ site.assets.css }}{{ site.name }}.min.css">
    {% endif %}

    {% if site.google_analytics %}
    <script defer>
        {% include analytics.min.js %}
    </script>
    {% endif %}

    <link rel="icon" href="{{ site.assets.images }}icon.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.assets.images }}icon.png">

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <header class="site-header">
        <a href="/" class="site-logo">
            <img src="/img/bbkv-logo.png" alt="BBKV Logo">
        </a>

        <a href="#mn" class="mobile-nav-toggle">Menü</a>

        <nav>
            <ul class="nav  site-nav  site-nav--desk">
                {% for link in site.links %}
                <li>
                    <a href="{{ link.url }}" class="site-nav__item{% if link.title == page.title %}  site-nav__item--current{% endif %}">{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>

        <div class="bbk-member-note">
            <div class="tooltip  tooltip--bbk" data-tooltip="Mitglied im Sächsischen Künstlerbund sowie im Bundesverband Bildender Künstlerinnen und Künstler">
                <img src="/img/bbk.png" alt="BBK Mitglied">
            </div>
        </div>
    </header>

    <main class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    <nav>
        <ul class="nav  site-nav  site-nav--mobile" id="mn">
            {% for link in site.links %}
            <li>
                <a href="{{ link.url }}" class="site-nav__item{% if link.title == page.title %}  site-nav__item--current{% endif %}">{{ link.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    {% if page.title == 'Mitglieder' %}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>{% include bbkv.min.js %}</script>
    {% endif %}
</body>
</html>
